{% extends "base.html" %}

{% block title %}
    Anasayfa
{% endblock %}

{% block content %}
<form action="{{ url_for('login') }}" method="POST">
<div class="mb-3">
        <label for="username" class="form-label">Kullanıcı Adı</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="test">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Şifre</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="test">
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-primary btn-sm" value="Gönder">
    </div>
</form>

{% endblock %}